body {
	font-size: 30px;
}

.numbers {
	color: red;
	background: yellow;
	width: 200px;
	height: 100px;
	float: left;

}

.score {
	color: #ffffff;
	font-size: 20px;
	width: 100px;
	background: blue;
	float: left;
	margin-bottom: 10px;
	margin-left: 20px;
}

.buttons {
	margin: 10px 0;
	clear: both;
}



